.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  &Item {
    margin: 0 1rem;
  }
}
