.square {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 30px;
}

.clicksWrapper {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  font-size: 3rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 30px;
  text-align: center;
}
